# Dependencies
node_modules
.pnpm-store

# Build outputs
dist
build
*.tsbuildinfo

# Testing
coverage

# Environment variables
.env
.env.local
.env.*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Development
*.local

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Apps specific
apps/**/dist
apps/**/.turbo

# Packages specific
packages/**/dist
packages/**/.turbo

# Data files
apps/server/data/**/*.json
!apps/server/data/**/*.example.json
.history